<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sshIp" value="172.16.2.82"/>
    <add key="sshUser" value="root"/>
    <add key="sshPasswd" value="Silvers$R7!"/>
  </appSettings>
</configuration>